.authentication-levels {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 3px solid #d9d9d9;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	cursor: pointer;
	z-index: 3;
	background-color: #fff;
	transition: 0.4s;
	margin: 30px;
	font-size: 14px;
}
.one-sixth {
	width: 30% !important;
}
.two-sixth {
	width: 100% !important;
}

.active-border {
	border-color: #7367f0 !important;
}
