.tickets-container {
	/* border: 1px solid red !important; */
	width: 80%;
	margin: auto;
	direction: rtl;
	/* background-color: red !important; */
	/* height: 100vh; */
}

.tickets-components-container {
	/* border: 2px solid green; */
	width: 100%;
	margin: auto;
	background-color: var(--color-secondary-dark);
}

/* New ticket container */
.tickets-new-ticket-container {
	/* border: 2px solid yellow; */
	background-color: var(--color-secondary);
}
/* Toggle title */
.tickets-new-ticket-toggle-title {
	direction: rtl;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
	user-select: none;
}

.new-ticket-toggle-title-text-container {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--main-font-size-large);
	letter-spacing: 1px;
}

/* Form styling */
/* common styles */
.form-title,
.form-unit,
.form-order,
.form-expalin,
.form-upload,
.form-explain {
	padding: var(--input-padding-small);
	border-radius: var(--input-border-radius);
	outline: none;
	border: var(--input-border);
}

.form-title:focus,
.form-unit:focus,
.form-order:focus,
.form-explain:focus,
.form-upload:focus {
	border: var(--input-border-focus-mode);
}
/* form container */
.tickets-new-ticket-form-container {
	/* border: 3px solid pink; */
	width: 60%;
	margin: auto;
	padding: 10px;
}

/* form top section styling */
.tickets-new-ticket-form-top-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.new-ticket-form-unit,
.new-ticket-form-title {
	display: flex;
	flex-direction: column;
	width: 40%;
}

/* form order section styling */
.new-ticket-form-order {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

/* form explain section styling */
.new-ticket-form-explain {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

/* form upload styling */
#form-upload {
	display: none;
}

.form-upload {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	padding: 5px 30px;
}

.new-ticket-form-upload-file {
	width: 100%;
}

.form-upload-explain {
	font-size: var(--main-font-size-small);
}

/* form submit styling */
.new-ticket-form-submit {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0px;
}

.form-submit {
	padding: var(--button-padding-large);
	border: none;
	border-radius: var(--button-border-radius-soft);
	background-color: var(--button-primary-bg-color);
	color: var(--button-text-color);
}

.form-submit:hover {
	box-shadow: var(--button-box-shadow-primary);
}

/* Table log styling */
.tickets-log-container {
	/* border: 1px solid blue; */
	background-color: var(--color-secondary);
	margin-top: 20px;
}
.tickets-log-title-text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 10px;
}
.tickets-log-title {
	font-size: var(--main-font-size-x-large);
}

.new-ticket-description {
	font-size: var(--main-font-size-medium);
}

.ticket-log-table > div {
	/* border: 1px solid pink; */
	direction: rtl;
}
/* Media queries */
@media (max-width: 1100px) {
	.tickets-new-ticket-form-top-container {
		/* border: 1px solid red; */
		flex-direction: column;
	}
	.new-ticket-form-title,
	.new-ticket-form-unit {
		/* border: 1px solid green; */
		width: 100%;
	}
	.tickets-new-ticket-form-container {
		/* border: 1px solid blue; */
		width: 100%;
	}
}
