.wallets-container {
	direction: rtl;
	width: 90%;
	margin: auto;
	padding: 10px;
}

/* Wallet header styling */
.wallets-header-container {
	font-size: var(--main-font-size-x-large);
}

/* Wallet searchbar styling */
.wallets-search-container {
	/* border: 2px solid green; */
	margin-top: 10px;
}
.wallets-search-container input {
	outline: none;
	border: var(--input-border);
	padding: var(--input-padding-small) calc(2 * var(--input-padding-small));
	border-radius: var(--input-border-radius);
}

.wallets-search-container input:focus {
	border: var(--input-border-focus-mode);
	/* padding: 200px; */
}
/* Wallet toman styling */
.wallet-toman-row {
	/* border: 1px solid green; */
	border: 1px solid var(--color-primary);
	border-radius: var(--button-border-radius-softer);
	background-color: var(--color-primary-light);
	display: flex;
	justify-content: space-betweens;
	align-items: center;
	padding: var(--button-padding-large);
	color: var(--primary-text-color);
}

.toman-row-info-container {
	/* border: 1px solid red; */
	flex: 1;
}
.toman-row-info-container span {
	font-size: var(--main-font-size-x-large);
}

.toman-inventory-container {
	/* border: 1px solid green; */
	flex: 4;
}
.toman-inventory-container span {
	font-size: var(--main-font-size-large);
	color: var(--color-primary);
}
.toman-btns-container {
	/* border: 1px solid #000; */
	flex: 2;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

/* Wallet currencies styling */
.wallets-currencies-container {
	/* border: 1px solid blue; */
	/* background-color: var(--color-secondary-dark); */
	margin-top: 20px;
}

.wallet-currency-row {
	/* border: 1px solid orange; */
	border: var(--input-border);
	background-color: var(--color-secondary);
	margin: 20px auto;
	border-radius: var(--button-border-radius-softer);
	display: flex;
	justify-content: space-between;
	color: var(--primary-text-color);
}

/* Currency info container */
.currency-row-info-container {
	/* border: 1px solid green; */
	flex: 0.5;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}

.currency-icon-container {
	/* border: 1px solid orange; */
	flex: 1;
}

.currency-names-container {
	/* border: 1px solid red; */
	flex: 2;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.currency-persian-name {
	font-size: var(--main-font-size-large);
	font-weight: 900;
}

.currency-english-name {
	font-size: var(--main-font-size-small);
	font-weight: 100;
	text-transform: capitalize;
}

/* Currency price container */
.currency-price-container {
	/* border: 2px solid pink; */
	flex: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Currency inventory container */
.currency-inventory-container {
	/* border: 1px solid black; */
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* Currency btns container */
.currency-btns-container {
	/* border: 2px solid brown; */
	padding: 10px;
	flex: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.currency-btns-container button,
.toman-btns-container button {
	/* border: 1px solid red; */
	border: none;
	border-radius: var(--button-border-radius-softer);
	color: var(--color-secondary);
	padding: var(--button-padding-large);
}

.btns-container-sell-buy {
	/* border: 1px solid red; */
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.btns-container-history {
	/* border: 2px solid blue; */
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.deposit {
	background-color: var(--button-alpha-bg-color);
	/* width: 40%; */
}
.withdrawl {
	background-color: var(--button-beta-bg-color);
	flex: 1;
	/* width: 40%; */
}
.history {
	background-color: var(--color-primary);
}

/* Media queries */
@media (min-width: 768px) and(max-width: 1000px) {
	.currency-btns-container,
	.toman-btns-container {
		/* border: 1px solid red; */
		flex-direction: column;
	}
	.currency-btns-container button,
	.toman-btns-container button {
		margin-top: 20px;
		width: 100%;
	}
}

@media (max-width: 767px) {
	.wallet-currency-row,
	.wallet-toman-row {
		flex-direction: column;
		/* border: 1px solid red; */
	}
	.currency-row-info-container {
		/* border: 2px solid pink; */
		flex-direction: column;
		align-items: center;
	}

	.toman-inventory-container span {
		font-size: var(--main-font-size-medium);
	}

	.currency-icon-container img {
		width: 35px;
	}

	.currency-names-container {
		/* border: 1px solid red; */
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.currency-price-container {
		/* border: 1px solid green; */
		align-items: flex-start;
	}
	.currency-btns-container {
		/* border: 1px solid orange; */
		flex-direction: column;
		justify-content: stretch;
	}

	.currency-btns-container a,
	.toman-btns-container a {
		margin: 10px;
	}

	.btns-container-sell-buy a {
		/* border: 1px solid red; */
		width: 50%;
	}

	.btns-container-history a,
	.toman-btns-container {
		width: 100%;
		/* border: 1px solid blue; */
	}
	.btns-container-history button,
	.btns-container-sell-buy button {
		/* border: 1px solid black; */
		width: 100%;
	}

	.currency-price-container,
	.currency-inventory-container {
		align-items: center;
		font-size: var(--main-font-size-medium);
	}
}
