.wallets-container {
	direction: rtl;
	width: 90%;
	margin: auto;
	padding: 10px;
}

/* Wallet header styling */
.wallets-header-container {
	font-size: var(--main-font-size-x-large);
}

/* Wallet searchbar styling */
.wallets-search-container {
	/* border: 2px solid green; */
	margin-top: 10px;
}
.wallets-search-container input {
	outline: none;
	border: var(--input-border);
	padding: var(--input-padding-small) calc(2 * var(--input-padding-small));
}

.wallets-search-container input:focus {
	border: var(--input-border-focus-mode) ;
	/* padding: 200px; */
}

/* Wallet currencies styling */
