.password-page-list-item {
	padding: 10px;
	border-bottom: 1px solid #d9d9d9;
	width: 100%;
	cursor: pointer;
}

.active {
	background-color: #7367f0;
	color: #fff;
}
.password-page-password-input {
	width: 500px;
	padding: 10px;
	text-align: center;
	margin: 10px;
	border-radius: 15px;
	outline: none;
	border: 1px solid #d9d9d9;
	background-color: transparent;
	font-size: 12px;
}

.password-page-password-input:focus {
	border-color: #7367f0;
	transition: 0.4s;
}
.password-page-submit-button {
	background-color: #7367f0;
	color: #fff;
	border: none;
	padding: 10px 20px;
}
.password-page-submit-button:hover {
	box-shadow: 2px 2px 20px #7367f0;
	transition: 0.4s;
}
@media (max-width: 900px) {
	.password-page-left-side {
		width: 90%;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.password-page-password-input {
		width: 300px;
		margin: 10px;
	}
	.password-page-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.password-page-profile-card {
		width: 90%;
	}
}
