/* Password Page Container */
.password-page-container {
	direction: rtl;
	display: flex;
	flex-wrap: wrap;
	color: var(--primary-text-color);
}

/* Profile Card */
.password-page-profile-card {
	flex: 1;
	margin: 10px !important;
	height: 400px;
}

/* User Icon */
.password-page-user-icon {
	width: 100px;
	padding: 5px;
}
/* User Name */
.password-page-user-name {
	padding: 5px;
}
/* User Phone Number */
.password-page-user-phone-number {
	padding: 5px;
}

/* inner Div */
.password-page-profile-card-inside-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* List Container */
.password-page-menu-container ul {
	list-style: none;
	padding: 20px;
	font-size: var(--main-font-size-medium);
}

/* Links */
.password-page-profile-menu-link {
	text-decoration: none;
	color: var(--primary-text-color);
}
/* List Items (Inside Menu) */
.password-page-list-item {
	padding: 10px;
	border-bottom: 1px solid var(--light-gray-color);
	width: 100%;
	cursor: pointer;
}

.profile-menu-active {
	background-color: var(--color-primary);
	color: var(--color-secondary);
}

/* Left Side */
.password-page-left-side {
	flex: 3;
	direction: rtl;
	margin: 10px !important;
	padding: 20px;
	font-size: var(--main-font-size-medium);
	line-height: 1.8em;
}

/* Input container */
.password-page-input-container {
	text-align: center;
	margin: 100px;
}

.password-page-password-input {
	width: 500px;
	padding: 10px;
	text-align: center;
	margin: 10px;
	border-radius: 15px;
	outline: none;
	border: var(--input-border);
	background-color: transparent;
	font-size: var(--main-font-size-small);
}

.password-page-password-input:focus {
	border: var(--input-border-focus-mode);
	transition: var(--global-transition);
}
.password-page-submit-button {
	background-color: var(--color-primary);
	color: var(--color-secondary);
	border: none;
	padding: 10px 20px;
	margin: 20px;
	border-radius: var(--button-border-radius-extreme);
	outline: none;
}
.password-page-submit-button:hover {
	box-shadow: var(--button-box-shadow-primary);
	transition: var(--global-transition);
}
@media (max-width: 1200px) {
	.password-page-left-side {
		width: 90%;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.password-page-password-input {
		width: 300px;
		margin: 10px;
	}
	.password-page-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.password-page-profile-card {
		width: 90%;
	}
}
