/* Page container */
.buy-page-container {
	display: flex;
	color: var(--primary-text-color);
}
/*  article(Left Side) */
.buy-page-article {
	flex: 1;
	padding: 20px;
	margin: 10px;
}
.buy-page-article p,
.buy-page-article ul {
	direction: rtl;
}
.buy-page-article p {
	font-size: var(--main-font-size-x-large);
}
/* Right side */
.buy-page-input-container {
	direction: rtl;
	flex: 2;
	padding: 10px;
	margin: 10px !important;
}
/* Right side header */
.buy-page-input-container-header {
	font-size: var(--main-font-size-x-large);
}
/* Payment amount */
.buy-page-payment-amount {
	width: 100%;
	text-align: center;
	padding: 20px;
	background-color: var(--color-primary-light);
	color: var(--color-primary);
	font-size: var(--main-font-size-medium);
	border-radius: var(--button-border-radius-softer);
}

/* Select Box */
.buy-page-select-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Coin Count Input */
.buy-page-currency-count-input {
	border: var(--input-border);
}
/* Dropdown section */
.drop-down-list-container {
	position: relative;
	width: 80%;
	overflow: auto;
}

.toggle-drop-down-icon {
	transform: rotate(180deg);
}
.drop-down-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid rgb(206, 206, 206);
	cursor: pointer;
	margin-bottom: 5px;
	margin-top: 10px;
}

.drop-down-list .left-side {
	display: flex;
	flex-direction: column;
}
/* Search box inside Dropdown section */
.search-box-container {
	position: absolute;
	width: 100%;
	right: 0;
	top: 20;
	z-index: 100;
}

#search-bar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 9px 12px;
	border: 1px solid #d9d9d9;
	width: 100%;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
}
/* Entering value from user section */

/* Text area sectoin */
textarea:focus {
	outline: none !important;
	border-color: #8378ef !important;
}
/* warning */
.warning {
	border: 1px solid red !important;
}

/* Media Queries */
@media (max-width: 1200px) {
	.buy-page-container {
		flex-wrap: wrap;
		flex-direction: column;
	}
}
