.MuiDataGrid-root {
	font-family: "Vazirmatn", sans-serif !important;
	text-align: right !important;
}

.MuiDataGrid-root .MuiDataGrid-cell--textLeft {
	text-align: right !important;
}
.MuiPagination-ul li svg {
	transform: rotate(180deg);
}

.rial_transactions-title-container {
	font-size: 25px;
}
.rial-transactions-container {
	width: 90%;
	margin: auto;
	border: 3px solid #fff;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0 0 20px #555;
	overflow: hidden;
	padding: 5px;
}
