/* Page Container */
.invitation-container {
	color: var(--primary-text-color);
	direction: rtl;
}

/* First Row */
.invitation-page-first-row {
	display: flex;
	justify-content: space-evenly;
	margin: 20px;
	flex-wrap: wrap;
}

/* Second Row(Component) */
.invitation-page-second-row {
	margin: 20px !important;
}

/* Page Header */
.invitation-page-header {
	font-size: var(--main-font-size-large);
	margin: 20px;
}

/* Copy Link and Number Container */
.invitation-link-container {
	border: var(--input-border-focus-mode);
	display: flex;
	justify-content: space-evenly;
	font-size: 18px;
	color: var(--color-primary);
	padding: 20px;
	margin: 10px;
	border-radius: var(--button-border-radius-soft);
	flex-wrap: wrap;
}

/* Two Boxes */
.invitation-box-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.invitation-col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.invitation-span {
	font-size: 18px;
}
.tooltip-x {
	position: relative;
	display: inline-block;
}

.tooltip-x .tooltiptext-x {
	visibility: hidden;
	width: 100px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	top: 120%;
	left: 50%;
	margin-left: -60px;
	font-size: 13px;
}

.tooltip-x .tooltiptext-x::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
}
.tooltip-x:hover .tooltiptext-x {
	visibility: visible;
}

@media (max-width: 600px) {
	.invitation-box-container {
		font-size: var(--main-font-size-small);
	}
	.invitation-page-header {
		font-size: var(--main-font-size-medium);
	}
}
